.spu-box.reveal { outline: none; }
.spu-box.reveal--centered { top: 50% !important; transform: translateY(-50%); }
.spu-box.reveal--top { top: 0 !important; }
.spu-box.reveal--bottom { top: auto !important; bottom: 0; }
.spu-box.reveal--top-left { top: 0 !important; left: 0 !important; }
.spu-box.reveal--top-right { top: 0 !important; left: auto !important; right: 0; }
.spu-box.reveal--bottom-left { top: auto !important; left: 0 !important; }
.spu-box.reveal--bottom-right { top: auto !important; left: auto !important; right: 0; }
