.spu-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spu-box.reveal {
  outline: none;
}

.spu-box.reveal--centered, .spu-box.reveal--top, .spu-box.reveal--bottom, .spu-box.reveal--bottom-bar, .spu-box.reveal--top-bar, .spu-box.reveal--top-left, .spu-box.reveal--top-right, .spu-box.reveal--bottom-left, .spu-box.reveal--bottom-right {
  position: absolute;
}

.spu-box.reveal--centered {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spu-box.reveal--top {
  top: 0 !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.spu-box.reveal--bottom {
  top: auto !important;
  bottom: 0;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.spu-box.reveal--top-left {
  top: 0 !important;
  left: 0 !important;
}

.spu-box.reveal--top-right {
  top: 0 !important;
  left: auto !important;
  right: 0;
}

.spu-box.reveal--bottom-left {
  top: auto !important;
  bottom: 0;
  left: 0 !important;
}

.spu-box.reveal--bottom-right {
  top: auto !important;
  bottom: 0;
  left: auto !important;
  right: 0;
}

.spu-box.reveal--bottom-bar {
  top: auto !important;
  bottom: 0;
}

.spu-box.reveal--top-bar {
  top: 0 !important;
  bottom: auto !important;
}

.spu-box.reveal--bottom-bar, .spu-box.reveal--top-bar {
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
}

.spu-box.reveal.full {
  top: 0 !important;
  left: 0 !important;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.spu-box .reveal__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spu-box[aria-hidden="false"] {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
